.userList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 3% auto;
  font-family: "Bebas Neue", sans-serif;
}

.userListSide {
  display: flex;
  justify-content: space-between;
  writing-mode: vertical-rl;
  font-weight: bolder;
  color: white;
  font-size: 2.2em;
  transform: rotate(-180deg);
  margin-left: 5%;
}
.userListResetBtn {
  width: 90px;
  height: 30px;
  color: darken($colorLight,20);
  background: transparent;
  border: 0.25px solid darken($colorLight,30);
  writing-mode: vertical-rl;
  font-weight: bold;
  cursor: pointer;
  transform: rotate(180deg);

  &:hover {
    color: #7820CB;
    background: $colorLight;
  }
}
@media screen and (max-width: 480px) {

  .userListSide {
    font-size: 1.5em;
    writing-mode: unset;
    transform: none;
    margin: 3%
  }
  .userListResetBtn {
    margin-left: 10%;
    transform: unset;
  }
}