.businessDays {
  @include userPanelTile;
}

.businessDaysIcon {;
  width: 30px;
  height: 30px;
  background: url("../../assets/briefcase.svg") no-repeat center;
  position: relative;
}

.businessDaysVal {
  height: 22px;
  width: 22px;
  font-family: 'Bebas Nue', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  background-color: $colorCalendarActive;
  border-radius: 50%;
  color: $colorLight;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.businessDaysDecor {
  @include userPanelNameDecor;
  background-color: $colorAccent;
}

.businessDaysDsc {
  @include userPanelDesc;
}

@media screen and (max-width: 480px) {
  .businessDays {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: transparent;
    width: 100%;
    margin: 5% 0;
  }
  .businessDaysTitle {
    display: inline-block;
  }
  .businessDaysIcon {
    width: 20px;
    opacity: 0.6;
    background-size: contain;
  }
  .businessDaysDsc {
    display: none;
  }
}