.businessDaysForm{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-25%,120%);
}

.businessDaysFormInput {
  max-width: 80px;
  height: 50px;
  border-radius: 25px 0 0 25px;
  background-color: $colorLight;
  border: 1px solid $calendarActive;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.businessDaysFormBtn {
  width: 40px;
  height: 50px;
  border: none;
  border-radius: 0 40px 40px 0;
  background-color: $accent;
  cursor: pointer;

  .businessDaysFormBtnIcon {
    height: 40px;
    width: 40px;
    background: url("../../assets/tick.svg") no-repeat center;
    background-size: contain;
  }
}