.businessDaysFormMask {
  @include fullscreenMask;
}

.businessDaysForm {
  @include userForm;
}

.businessDaysFormClose {
@include userFormClose;
}

.businessDaysFormCnt {
  @include userFormCnt;
  grid-template-rows: 0.75fr 0.25fr 1fr 1fr;
}

.businessDaysFormTitle {
  grid-row: 1/2;
  @include userFormTitle;
}

.businessDaysFormMsg {
  grid-row: 2/3;
  @include userAdd-msg;
}

.businessDaysFormLabel {
  grid-row: 3/4;
  @include userFormLabel;
}

.businessDaysFormInput {
  @extend #name
}

.businessDaysFormBtn {
  @include userBtn;
  grid-row: 4/5;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .businessDaysFormMask {
    @include formMaskMobile;
  }
  .businessDaysForm {
    @include formMobile;
  }

  .businessDaysFormTitle {
    margin: auto auto 0 auto;
  }
  .businessDaysFormBtn {
    margin: 0 auto auto auto;
  }
}