.appSignOutBtn {
  height: 35px;
  width: 35px;
  background: url("../../assets/power.svg") center no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  position: relative;
}

.appSignOutInfo {
  height: 35px;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-10%,-50%);
  color: $colorLight;
  line-height: 35px;
  opacity: (0);
  animation: logout 0.4s ease-in-out forwards;
}

@media screen and (max-width: 480px) {
  .appSignOutBtn {
    display: none;
    height: 25px;
    width: 25px;
  }
}