.user {
  min-width: 300px;
  border-radius: 25px;
  color: white;
  background-color: rgba(209, 2, 253, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  -webkit-box-shadow: 13px 10px 15px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 13px 10px 15px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 13px 10px 15px 2px rgba(0, 0, 0, 0.4);
}

.userContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.userNames {
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;;
  margin-left: 10%;
}

.userDelete {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../../assets/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.userLowerContainer {
  display: flex;

}