.user {
  min-width: 330px;
  border-radius: 5%;
  color: $colorLight;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 1%;
  position: relative;
}

.verified {
  background: $colorUserVerified;
  transition: 1s;
}

.userCnt {
  width: 90%;
  margin: 5%;
}

.userCntTop {
  display: flex;
  justify-content: space-between;
}


.userCntBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userNames {
  font-size: 25px;
  font-weight: bolder;;
  max-width: 70%;
  color: darken($colorLight, 5);
}

.userDaily {
  margin: 10px 0;
  opacity: 0.3;
}

.userCntBottomEvents {
  display: flex;
}

@media screen and (max-width: 480px) {
  .user {
    width: 95%;
    margin: 1% auto;
  }
  .userNames {
    font-size: 1.2em;
  }
  .userCntBottomEvents {
    overflow-x: scroll;
  }
}