.user {
  min-width: 330px;
  border-radius: 10px;
  color: $colorLight;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.verified {
  background: $colorUserVerified;
}

.userCnt {
  width: 90%;
  padding: 5% 0;
}

.userCntTop {
  display: flex;
}


.userCntBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.userNames {
  font-size: 25px;
  font-weight: bolder;;
  max-width: 70%;
  color: darken($colorLight, 5);
}

.userDaily {
  margin: 10px 0;
  opacity: 0.3;
}

.userCntBottomEvents {
  display: flex;
}