.calendarPart {
  min-height: 97%;
  display: flex;
}

.calendarPartLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarPartRight {
  @extend .calendarPartLeft;
  align-items: flex-end;
  background-color: $calendarPartBg;
  padding: 2% 1% 2% 2%;
  border-radius: 2% 0 0 2%;
}

.calendarPartCnt {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
}

.calendarPartIndicator {
  width: 20px;
  height: 20px;
  background-color: $calendarPartBg;
  color: white;
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  //transform: translate(-50%, -50%);

}

.calendarEvents {
  width: 100%;
}

.calendarEvents {
  width: 90%;
  height: 95%;
  display: flex;
}

.calendarEventsCnt {
  width: 100%;
}

.calendarEventsTop {
  display: flex;
  margin-bottom: 2%;
}

.calendarPartTitle {
  //@extend .userListSide;
  writing-mode: vertical-rl;
  font-family: "Bebas Neue",sans-serif;
  font-weight: bolder;
  font-size: 3em;
  transform: rotate(-180deg);
  margin: 0;
  color: lighten($calendarPartBg, 70);
;
}

@media screen and (max-width: 480px) {
  .calendarPart {
    flex-wrap: wrap;
    min-height: 100%;
    margin-bottom: 5%;
  }
  .calendarPartLeft {
    width: 100%;
  }
  .calendarPartRight {
    width: 100%;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
  .calendarEvents {
    //width: unset;
  }
  .calendarEventsTop {
    justify-content: space-between;
  }
  .calendarPartTitle {
    font-size: 1em;
  }
  .calendarPartIndicator {
    top: 10%;
    right: 10%;
  }
}