.userAdd {
  @include userPanelTile;
}

.userAddCnt {
  @include userPanelCnt;
}

.userAddIcon {
  @include userPanelIconSize;
  margin: 4px;
  background: url("../../assets/addUser.svg") no-repeat;
}

.userAddDesc {
  @include userPanelDesc;
}

.userAddMobile {
  @include userPanelName;
}

.userAddMobileDecor {
  @include userPanelNameDecor;
  background-color: mix($colorAccent, $colorCalendarActive, 95%);
}

@media screen and (max-width: 480px) {
  .userAdd {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    background: transparent;
    width: 100%;
    margin: 5% 0;
  }
  .userAddMobile {
    display: inline-block;
  }
  .userAddCnt {
    width: 20px;
  }
  .userAddIcon {
    width: 20px;
    opacity: 0.6;
    background-size: contain;
    background-position: center;
  }
  .userAddDesc {
    display: none;
  }
}