.userAdd {
  @extend .businessDays;
}

.userAddCnt {
  @extend .archiveEventsCnt;
}

.userAddIcon {
  width: 50px;
  height: 50px;
  margin: 4px;
  background: url("../../assets/addUser.svg") no-repeat;
}

.userAddDesc {
  color: $colorLight;
  font-size: 10px;
  margin: 5px;
}