@import "settings/reset";
@import "settings/fonts";
@import "settings/colors";
@import "../AppHeader/AppHeader";
@import "../AppFooter/AppFooter";

.app {
  width: 100%;
  min-height: 100vh;
  background-image: $colorGradient
}