.event {
  width: 30%;
  height: 180px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darken($colorCalendarActive, 10);
  margin: 1%;
}

.eventCnt {
  width: 90%;
  height: 90%;
}

.eventUser1 {
  width: 100%;
  color: $colorLight;
  font-size: 18px;
  text-align: center;
}

.eventCount {
  width: 100%;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin: 10% 0;
}

.eventUser2 {
  @extend .eventUser1;
}

.eventDel {
  margin-left: 90%;
  width: 15px;
  height: 20px;
  border: none;
  background: url("../../assets/trash.svg") center no-repeat transparent;
  background-size: cover;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .event {
    height: 100px;
    flex-shrink: 0;
  }
  .eventDel {
    width: 10px;
    background-size: contain;
  }
  .eventUser1 {
    font-size: 0.8em;
  }
  .eventCount {
    margin: 5% 0;
    font-size: 0.8em;
  }
}