.archivedFiles {
  min-height: 85vh;
  color: $colorLight;
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/archiveVectorIlustration.svg") no-repeat bottom right;
  background-size: 25%;
  margin-top: 2%;
}

.archivedFilesCnt {
  width: 90%;
  min-height: 100%;
  //min-height: 90%;
}

.archivedFilesTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.archivedFilesBackBtn {
  width: 40px;
  height: 40px;
  background: url("../../assets/backArrow.svg") center no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;

  &:hover {
    width: 40px;
    height: 40px;
    background: url("../../assets/backArrowaHover.svg") center no-repeat;
    background-size: cover;
  }
}

.archivedFilesTitle {
  font-size: 2.5em;
}

.archivedFilesContent {
  display: flex;
}

.archivedFilesMonth {
  color: $colorLight;
  font-weight: bold;
  background-color: transparent;
  border: 0.5px solid darken($colorLight, 30);
  margin: 1%;
  width: 30%;
  height: 150px;
  font-size: 1.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  &:hover {
    color: $colorLight;
    background: $colorAccentCalendar;
    margin: 1% 2%;
  }
}

.selectedMonth {
  color: #7820CB;
  background: darken($colorLight, 10);
}

.archivedFilesList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  list-style-type: none;
  width: 40%;
}


.narrow {
  width: 25%;
  animation: shrinkMonthList 0.5s ease-in-out forwards;

  .archivedFilesMonth {
    height: 100px;
    font-size: 1.1em;
    animation: shrinkMonth 0.5s ease-in-out forwards;
  }
}

.wide {
  width: 70%;
}
.archivedEventEmpty {
  font-size: 3em;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  animation: showAndSlideIn 1s ease-in-out forwards;
}

.archivedEvent {
  @extend .event;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  width: 15%;
  color: darken($colorLight, 15);
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);;
  border-radius: 0;
}

.archivedEventDate {
  height: 100%;
  color: darken($colorLight, 20);
  background-color: rgba($colorDark, 0.4);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  grid-row: 1/2;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.archivedEventCnt {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .archivedFilesBackBtn {
    height: 30px;
    width: 30px;
  }
  .archivedFilesCnt {
    background-position: bottom right;
    background-size: 60%;
  }
  .archivedFilesTitle {
    font-size: 1.5em;
    margin-bottom: 8%;
  }
  .archivedEvent {
    min-width: 45%;
  }
}