.eventFormMask {
  @include fullscreenMask;
}

.eventForm {
  @include userForm;
  height: 550px;
}

.eventFormClose {
  @include userFormClose;
}

.eventFormCnt {
  @include userFormCnt;
  grid-template-rows: 20% 0.25fr auto auto auto 15%;
}

.eventFormTitle {
  @include userFormTitle;
}

.eventFormMsg {
  @include userAdd-msg;
}

.eventFormLabel-1 {
  @extend .userAddLabel-1;

  select {
    @extend #name;
    text-align-last: center;
  }
}

.eventFormLabel-2 {
  @extend .userAddLabel-2;

  select {
    @extend #name;
    text-align-last: center;
  }
}

.eventFormLabel-3 {
  @extend .userAddLabel-3;
}

.eventFormInput {
  @extend #name;
}

.eventFormBtn {
  grid-row: 6/7;
  @include userBtn;
}

@media screen and (max-width: 480px) {
  .eventFormMask {
    @include formMaskMobile;
  }
  .eventForm {
    @include formMobile;
  }
  .eventFormLabel-1 {
    margin: 0 auto
  }
}