.calendarToggle {
  height: 3vh;
  cursor: pointer;
  background-color: #501584;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarToggleIcon {
  width: 60px;
  height: 40px;
  background: url("../../assets/downArrow.svg") center no-repeat transparent;
  color: white;
  animation: show 0.5s ease-in-out 0ms 1 forwards;
  transition: 1s;
}

.calendarMode {
  transform: rotateX(180deg);
  animation: hide 0.5s ease-in-out 0ms 1 forwards;
  transition: 1s;
}