.calendarToggle {
  height: 35px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #5821b0, #7121c5, #8b1fd9, #a617ec, #c300ff);
  cursor: pointer;
}
.calendarToggleMask {
  width: 100%;
  background-color: rgba(0,0,0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarToggleIcon {
  width: 60px;
  height: 40px;
  background: url("../../assets/downArrow.svg") center no-repeat transparent;
  color: white;
  animation: show 0.5s ease-in-out 0ms 1 forwards;
}

.hide {
  animation: hide 0.5s ease-in-out 0ms 1 forwards;
}

@keyframes hide {
  from {transform: rotateX(0)}
  to {transform: rotateX(180deg)}
}

@keyframes show {
  from {transform: rotateX(180deg)}
  to {transform: rotateX(0)}
}