.userAddFormMask {
  @include fullscreenMask;
}

.userAddForm {
  @include userForm;
  height: 600px;
}

.userAddFormClose {
  @include userFormClose;
}

.userAddFormCnt {
  @include userFormCnt;
  grid-template-rows: 0.4fr 0.25fr auto auto auto auto 0.5fr;
}

.userAddTitle {
  @include userFormTitle;
}

.userAddLabel-1 {
  grid-row: 3/4;
  @include userFormLabel;
}
.userAddLabel-2 {
  grid-row: 4/5;
  @include userFormLabel;
}
.userAddLabel-3 {
  grid-row: 5/6;
  @include userFormLabel;
}
.userAddLabel-4 {
  grid-row: 6/7;
  @include userFormLabel
}

#name, #surname, #dailyTime, #rate {
  height: 30px;
  width: 100%;
  background: $colorLight;
  font-size: 16px;
  text-align: center;
  margin: 10px auto;

  &:focus {
    outline: 1px solid #36C486;
  }
}

.userAddBtn {
  @include userBtn;
  grid-row: 7/8;
}

.userAddMsg {
  @include userAdd-msg;
}

@media screen and (max-width: 480px) {
  .userAddFormMask {
    @include formMaskMobile;
  }
  .userAddForm {
    @include formMobile;
  }
}