$colorDark : #221824;
$colorLight : white;
$accent : #26BEB5;
$calendarActive : #c300ff;
$colorGradient : linear-gradient(to right bottom, #5821b0, #7121c5, #8b1fd9, #a617ec, #c300ff);
$userGradient : linear-gradient(to right top, #5821b0, #7121c5, #8b1fd9, #a617ec, #c300ff);