.archiveEvents {
@extend .userAdd
}

.archiveEventsIcon {
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-bottom: 0;
  background: url("../../assets/archive.svg") no-repeat center;
}

.archiveEventsDesc {
  @extend .userAddDesc
}