.archiveEvents {
  @include userPanelTile;
}

.archiveEventsCnt {
  @include userPanelCnt;
}

.archiveEventsIcon {
  @include userPanelIconSize;
  background: url("../../assets/archive.svg") no-repeat center;
  background-size: contain;
}

.archiveEventsDesc {
  @include userPanelDesc;
}

.archiveEventsMobileDecor {
  @include userPanelNameDecor;
  background-color: mix($colorAccent, $colorCalendarActive, 90%);
}

@media screen and (max-width: 480px) {
  .archiveEvents {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    background: transparent;
    width: 100%;
    margin: 5% 0;
  }
  .archiveEventsCnt {
    width: unset;
  }
  .archiveEventsIcon{
    width: 20px;
    opacity: 0.6;
    background-size: contain;
  }
  .archiveEventsDesc {
    display: none;
  }
}