.calendarDate_dayName {
  color: lightgray;
  font-size: 25px;
  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
}

.calendarDate_day {
  @extend .calendarDate_dayName;
  font-size: 50px;
  position: relative;
}

.calendarDate_month {
  @extend .calendarDate_dayName;
  margin-left: 0.5em;
}

@media screen and (max-width: 480px) {
  .calendarDate_dayName {
    font-size: 1em;
  }
  .calendarDate_day {
    font-size: 1.5em;
  }
  .calendarDate_month {
    font-size: 1em;
  }
}