.appFooter {
  height: 3vh;
  color: darken($colorLight, 50);
  background-color: $colorDark;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: $colorAccent;
  }
}