.archives {
  @include userPanelTile;
  justify-content: center;
  align-items: center;
}

.archivesIcon {
  @include userPanelIconSize;
  background: url("../../assets/archiveIcon.svg") no-repeat center;
  background-size: cover;
}

.archivesMobileDecor {
  @include userPanelNameDecor;
  background-color: mix($colorAccent, $colorCalendarActive, 85%);
}
.archivesDsc {
  @extend .userAddDesc;
}

@media screen and (max-width: 480px) {
  .archives {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    background: transparent;
    width: 100%;
    margin: 5% 0;
  }
  .archivesIcon {
    width: 20px;
    opacity: 0.6;
    background-size: contain;
  }
}